{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}
{{#each acertos}}
    <div class="alert alert-success">{{texto}}</div>
{{else}}

{{/each}}

{{/each}}


<h1>Cadastrar Imóvel</h1>


<div class="card">
  <div class="card-body">
    <form action="/imoveis/salvarImovel" method="post">
      <label for="matricula">Matricula: </label>
        <input type="text" name="matricula" class="form-control" required>
      <label for="cep">CEP: </label>
        <input type="number" name="cep" class="form-control" required>
      <label for="endereco">Endereco: </label>  
        <input type="text" name="endereco" class="form-control" required>
      <label for="cidade">Cidade: </label>
        <input type="text" name="cidade" class="form-control" required>
        <div class="form-group col-md-4">
        <label for="estado">Estado</label>
        <select id="estado" name="estado" class="form-control">
            <option selected>Escolher...</option>
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espírito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MT">Mato Grosso</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
        </select>
        </div>

      <button type="submit" class="btn btn-primary mt-4">Salvar imóvel</button>
    </form>
  </div>
</div>